<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head> </head>

<body th:fragment="sidebar">
    <div class="sidebar-top">
        <div class="user-img col-dm-5">
            <img src="/images/user.jpg" id="icon-user" alt="" srcset="" />
        </div>
        <div class="user-name col-md-7">
            <span>nsjhbadyu</span>
        </div>
    </div>
    <div class="sidebar-bottom">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</body>

</html>