<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head> </head>

<body th:fragment="sidebar">
    
  
        <div class="kul4+s">
            <div class="AmWkJQ"><a class="_1O4r+C" href="">
                    <div class="shopee-avatar">
                        <div class="shopee-avatar__placeholder"><svg enable-background="new 0 0 15 15"
                                viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-headshot">
                                <g>
                                    <circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle>
                                    <path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round"
                                        stroke-miterlimit="10"></path>
                                </g>
                            </svg></div><img class="shopee-avatar__img"
                            src="https://cf.shopee.vn/file/71284313e54af2347cd763f4f53e007d_tn">
                    </div>
                </a>
                <div class="miwGmI">
                    <div class="mC1Llc">yeuaideo13</div>
                </div>
            </div>
            <div class="rhmIbk">
                <div class="">
                    <div class=""><a class="+1U02e" href="#">
                            <div class="bfikuD"><img src="https://cf.shopee.vn/file/ba61750a46794d8847c3f463c5e71cc4">
                            </div>
                            <div class="DlL0zX" ><span class="adF7Xs">Tài khoản của tôi</span></div>
                        </a>
                       
                    </div>
                    
                </div>
                <div class="stardust-dropdown">
                    <div class="stardust-dropdown__item-header"><a class="+1U02e" href="#">
                            <div class="bfikuD"><img src="https://cf.shopee.vn/file/f0049e9df4e536bc3e7f140d071e9078">
                            </div>
                            <div class="DlL0zX"><span class="adF7Xs">Đơn Mua</span></div>
                        </a></div>
                    <div class="stardust-dropdown__item-body">
                        <div class="Yu7gVR"></div>
                    </div>
                </div>
                <div class="stardust-dropdown">
                    <div class="stardust-dropdown__item-header"><a class="+1U02e" href="#">
                            <div class="bfikuD"><img src="https://cf.shopee.vn/file/e10a43b53ec8605f4829da5618e0717c">
                            </div>
                            <div class="DlL0zX"><span class="adF7Xs">Thông báo</span></div>
                        </a></div>
                </div>
                <div class="stardust-dropdown">
                    <div class="stardust-dropdown__item-header"><a class="+1U02e" href="#">
                            <div class="bfikuD"><img src="https://cf.shopee.vn/file/84feaa363ce325071c0a66d3c9a88748">
                            </div>
                            <div class="DlL0zX"><span class="adF7Xs">Kho Voucher</span></div>
                        </a></div>
                    <div class="stardust-dropdown__item-body">
                        <div class="Yu7gVR"></div>
                    </div>
                </div>

            </div>
        </div>
        

</body>

</html>