<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{web-site/layout}">

<head>
</head>

<body>
    <div layout:fragment="content">
        <section class="w3l-text-11 py-5" th:object="${blog}">
            <div class="py-md-5 py-4">
                <div class="container">
                    <div class="card border-primary">
                        <img th:src="${blog.banner!=null?'/api/images/'+blog.banner:'/images/Background.png'}"
                            class="img-fluid radius-image img-rounded" alt="" style="padding: 35px 120px;background: blanchedalmond;
                        height: 600px;width: 800px;margin-left: 150px;margin-right: 150px;margin-bottom: 0;">
                        <div class="card-body">
                            <div class=" text11-content mx-auto">
                                <div class="blo-singl mb-3" style="border: ridge;">
                                    <ul class="blog-single-author-date d-sm-flex align-items-center"
                                        style="margin: 0px;">
                                        <li class="circle avatar">
                                            <a th:href="@{'/api/site/blog/detail/'+${blog.id}}">Eetey Cruis<i
                                                    class="icon-user"></i></a>
                                        </li>
                                        <li style="margin-left: 250px;
                                    width: 330px;
                                    margin-right: 200px;
                                    text-align: center;">
                                            <span class="fas fa-user"></span><a
                                                th:href="@{'/api/site/product/detail/'+${blog.product.id}}"
                                                class=" primary-clr-bg" th:text="${blog.product.name}"></a></i>
                                            </a>
                                        </li>
                                        <li>
                                            <span class="far fa-clock"></span> <b th:text="${blog.createAt}"></b>
                                        </li>
                                    </ul>
                                </div>
                                <div style="margin-left: 125px; margin-right: 125px;">
                                    <strong class="quick_desc" th:text="${blog.description}"
                                        style="font: normal normal normal 30px/45px avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;"></strong><br>
                                    <strong class="quick_desc" th:text="${blog.shortdecs}"
                                        style="font: normal normal normal 16px/20px avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"></strong>
                                </div>
                                <div class="item mt-5">
                                    <h5 class="aside-title">Ảnh: </h5>
                                    <div class="row" style="margin-left: 370px;">
                                        <div class="col-sm-6" th:each="img, iStart:${listimage}">
                                            <div class="list-view list-view1">
                                                <div class="grids5-info">
                                                    <a class="d-block zoom">
                                                        <img th:src="${img.name!=null?'/api/images/'+img.name:'/images/Background.png'}"
                                                            style="display: flex;flex-direction: row;flex-wrap: wrap;margin-bottom: 0;"
                                                            class="img-fluid radius-image news-image"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="leftcolumn" style="float: left;  width: 75%;">
                            <div class="card" style="background-color: white; padding: 20px;margin-top: 20px;height: 1000px;">
                                <h2><a th:href="@{'/api/site/blog/detail/'+${blog.id}}"><i class="icon-user"> (*:*)</i></a></h2>
                                <h5><a
                                    th:href="@{'/api/site/product/detail/'+${blog.product.id}}"
                                    class=" primary-clr-bg" th:text="${blog.product.name}"></a>, <b th:text="${blog.createAt}" style="font-size: 14px;"></b></h5>
                                <div class="fakeimg" style="height:200px;">
                                    <img th:src="${blog.banner!=null?'/api/images/'+blog.banner:'/images/Background.png'}" style="width: 800px; height: 500px; margin-left: 10px;">
                                </div>
                                <div style="margin-top: 310px;">
                                    <strong class="quick_desc" th:text="${blog.description}" style="font: normal normal normal 30px/45px avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;"></strong><br>
                                    <strong class="quick_desc" th:text="${blog.shortdecs}" style="font: normal normal normal 16px/20px avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"></strong>
                                </div>
                            </div>
                        </div>
                        <div class="rightcolumn" style="float: left; width: 25%;padding-left: 20px;">
                            <div class="card" style="background-color: white; padding: 20px;  margin-top: 20px;">
                                <h4>Ảnh:</h4>
                                <div class="fakeimg" style="width: 100%;" th:each="img, iStart:${listimage}">
                                    <img th:src="${img.name!=null?'/api/images/'+img.name:'/images/Background.png'}"
                                    class="img-fluid radius-image news-image">
                                </div>
                                <p>Xem thêm ảnh...</p>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </section>


    </div>

</body>

</html>