<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web-site/layout}">

<head>
</head>

<body>
	<div layout:fragment="content">
		<div class="men">
			<div class="container">
				<div class="grid_1">
					<h1>THÔNG TIN LIÊN HỆ</h1>
					
				</div>
				<div class="row"  style="    align-items: center;">
				
				<div class="contact_form col-8">
					<h2>Phản hồi với chúng tôi</h2>
					<form class="com-mail" th:action="@{/api/site/mail/send}" method="post">
						<div class="col-ms-6 to">

							<input type="text" class="form-control1 control3" name="gmail" placeholder="Địa chỉ Email :">

							<input type="text" class="form-control1 control3" name="title" placeholder="Tiêu đề :"> <br>

						</div>
						<div class="col-ms-6 text">
							<textarea rows="6" class="form-control1 control2" name="description"
								placeholder="Lời nhắn :"></textarea>

						</div>
						<div class="clearfix"></div>
						<div class="but__center">
							<input type="submit" value="Gửi phản hồi &gt;&gt;">
						</div>
					</form>
				</div>
				<div class="grid_4 col-4 ">
					<div class="row">
						<div class="" style="width: 100%;">
							<ul class="iphone" style="display: block;">
								<i class="phone"> </i>
								<li class="phone_desc">Số điện thoại : 1800 39 39 39</li>
								<div class="clearfix"></div>
							</ul>
							<ul class="iphone" style="display: block;">
								<i class="flag"> </i>
								<li class="phone_desc">Website : <a href="mailto:mail@demolink.org">www.onlinewatchshop.com</a>
								</li>
								<div class="clearfix"></div>
							</ul>
						</div>
						<div style="width: 100%;">
							<ul class="iphone" style="display: block;">
								<i class="msg"> </i>
								<li class="phone_desc">Email : <a href="mailto:watchingshop.24.7@gmail.com">contact@onlinewatchshop.com</a>
								</li>
								<div class="clearfix"></div>
							</ul>
							<ul class="iphone" style="display: block;">
								<i class="home"> </i>
								<li class="phone_desc">Địa chỉ : K90 Đống Đa, Đà Nẵng</li>
								<div class="clearfix"></div>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			</div>
		</div>
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61349.64667009347!2d108.1716864209382!3d16.04716590689819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c792252a13%3A0xfc14e3a044436487!2zxJDDoCBO4bq1bmcsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1671713969722!5m2!1svi!2s"></iframe>
		</div>
	</div>
</body>

</html>