<!DOCTYPE HTML>
	<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{web-site/layout}">


	<body layout:fragment="content">
		
	<form class="men">
		<div class="container" style="display: flex;">
			<div class="col-md-3 sidebar_men">
				<div>
					<h3>Danh mục</h3>
					<ul class="product-categories color" th:each="Category, iStart:${cate}">
						<li class="cat-item cat-item-42">
							<a th:text="${Category.name}"></a>
							<span class="count">
								
										<input type="radio" name="Getcategory" th:checked="${Getcategory==Category.id} ? 'checked'" th:value="${Category.id}"  onchange="this.form.submit()"> 
										
							</span>
						</li>
					</ul>
					
				
					<!-- onchange="this.form.submit()" -->
					<h3>Thương hiệu</h3>
					<ul class="product-categories color" th:each="br, iStart:${brand}">
						<li class="cat-item cat-item-42">
							<a th:text="${br.name}"></a>
							<span class="count">
										<input type="radio" name="Getbrand" th:checked="${Getbrand==br.id} ? 'checked'" th:value="${br.id}" onchange="this.form.submit()" > 							
							</span>
						</li>
					</ul>
				
					<h3>Giá</h3>
					<ul class="product-categories">
						<li class="cat-item cat-item-42"><a href="#">200$-300$</a> <span class="count">
							<input type="radio" name="GetPrice" th:checked="${GetPrice==1} ? 'checked'" value="1" onchange="this.form.submit()" ></span></li>
						<li class="cat-item cat-item-60"><a href="#">300$-400$</a> <span class="count">
							<input type="radio" name="GetPrice" th:checked="${GetPrice==2} ? 'checked'" value="2" onchange="this.form.submit()" ></span></li>
						<li class="cat-item cat-item-63"><a href="#">400$-500$</a> <span class="count">
							<input type="radio" name="GetPrice" th:checked="${GetPrice==3} ? 'checked'" value="3"  onchange="this.form.submit()"></span></li>
						<li class="cat-item cat-item-54"><a href="#">500$-600$</a> <span class="count">
							<input type="radio" name="GetPrice" th:checked="${GetPrice==4} ? 'checked'" value="4"  onchange="this.form.submit()"></span></li>
						<li class="cat-item cat-item-55"><a href="#">600$-700$</a> <span class="count">
							<input type="radio" name="GetPrice" th:checked="${GetPrice==5} ? 'checked'" value="5"  onchange="this.form.submit()"></span></li>
					</ul>

					
				</div>
				<a class="btn btn-outline-secondary" th:href="@{/api/site/product}"> Xóa lựa chọn</a>
				
			</div>
			<div class="col-md-9 mens_right" >
				<div>
				<div class="dreamcrub">
					<ul class="breadcrumbs" style="display: block;">
						<li class="home">
							<a href="index.html" title="Go to Home Page">Trang chủ</a>&nbsp;
							<span>&gt;</span>
						</li>
						<li class="home">&nbsp;
							Sản phẩm &nbsp;
						</li>
					</ul>
					<ul class="previous">
						<li><a href="index.html">Quay lại trang chủ</a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="mens-toolbar">
					<div class="sort">
						<div class="sort-by">
							<label>Sắp xếp theo</label>
							<select class="form-control" name="sort" onchange="this.form.submit()">
								<option th:selected="${sort == 1 }" value="1">ID</option>
								<option th:selected="${sort == 2 }" value="2">Tên</option>
								<option th:selected="${sort == 3 }" value="3">Giá</option>
								<option th:selected="${sort == 4 }" value="4">Giá giảm</option>

							</select>

						</div>
					</div>
					<ul class="women_pagenation dc_paginationA dc_paginationA06" style="display: block;">
						<li><a class="previous">Trang : </a></li>
						<li th:each="pageNum:${pageNums}" th:if="${productPage.totalPages>0}"
							th:class="${pageNum==productPage.number+1}?'page-item active':'page-item'"><a
								class="page-link"
								th:href="@{/api/site/product(sort=${sort}, size = ${productPage.size}, page=${pageNum})}"
								th:text="${pageNum}"></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
					<div class="cbp-vm-options">
						<a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid"
							title="grid">Grid View</a>
						<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">List
							View</a>
					</div>
					<div class="pages">
						<div class="limiter visible-desktop">
							<label>Số sản phẩm</label>
							<select class="form-control" name="size" onchange="this.form.submit()">
								<option th:selected="${productPage.size == 6 }" value="6">6</option>
								<option th:selected="${productPage.size == 12 }" value="12">12</option>
								<option th:selected="${productPage.size == 18 }" value="18">18</option>
								<option th:selected="${productPage.size == 24 }" value="24">24</option>

							</select>
						</div>
					</div>
					<div class="clearfix"></div>
					<ul style="display: block;">
						<li class="simpleCart_shelfItem" th:each="pro, iStart:${productPage}">
						
							<a class="cbp-vm-image" href="#">
								<div class="view view-first">
									<div class="inner_content clearfix">
										<div class="product_image">
											<div class="mask1"><img id="image" style="height: 250px;"
													th:src="${pro.thumbnail!=null?'/api/site/product/images/'+pro.thumbnail:'/images/Background.png'}"
													class="img-responsive zoom-img"></div>
											<div class="mask">
												<div class="info">
													<a th:href="@{'/api/site/product/detail/'+${pro.id}}">Chi tiết</a>
												</div>
											</div>
											<div class="product_container">
											<img id="image" style="display: none;"
													th:src="${pro.thumbnail!=null?'/api/site/product/images/'+pro.thumbnail:'/images/Background.png'}"
													class="img-responsive zoom-img"></div>
												<h4 class="product__name" th:text="${pro.name}"></h4>
												<input type="hidden" name="" id="product__id" th:value="${pro.id}" />
												<div th:if="${pro.discount==0}">
													<a class="price mount product__price" style="color: black;" th:text="'$'+${pro.Price}"></a>
												</div>
												<div th:if="${pro.discount!=0}">
													<a class="price mount product__price reducedfrom" th:text="'$'+${pro.Price}"></a>
													<a class="price mount actual" th:text="'$'+${pro.Price-pro.discount}"></a>
												</div>
													
												<p class=" product__discount actual" hidden th:text="'$'+${pro.discount}"></p>
												<a class="button item_add cbp-vm-icon cbp-vm-add row btn__add__to__cart" style="display: block;"> Thêm vào giỏ hàng</a>
											</div>
										</div>
									</div>
								</div>
							</a>
							
						</li>

					</ul>
				</div>
			</div>
				<script src="/site/js/cbpViewModeSwitch.js" type="text/javascript"></script>
				<script src="/site/js/classie.js" type="text/javascript"></script>
			</div>
		</div>
	</form>
	
</body>

</html>