
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{web-site/layout}">

<head>
</head>
<body layout:fragment="content">

<div class="account-in">
    <div class="container">
       <form> 
      <div class="register-top-grid">
           <h2>PERSONAL INFORMATION</h2>
           <div>
               <span>Name<label>*</label></span>
               <input type="text"> 
           </div>
           <div>
               <span>Email<label>*</label></span>
               <input type="text"> 
           </div>
           <div>
               <span>PHONE NUMBER<label>*</label></span>
               <input type="text"> 
           </div>
           <div>
               <span>ADDRESS<label>*</label></span>
               <input type="text"> 
           </div>
           <div>
               <span>GENDER<label>*</label></span> 
                   <select id="gender" name="gender" class="form-control">
                       <option value="true">MALE</option>
                       <option value="false">FEMALE</option>
                   </select>
           </div>
           <div>
               <div class="form-group">
                   <span>IMAGE<label>*</label> 
                       <input type="file" class="form-control-file"> 
               </div>
           </div>
       </div>
     </form>
   <div class="clearfix"> </div>
   <div class="register-but">
      <form>
          <input type="submit" value="save">
          <div class="clearfix"> </div>
      </form>
   </div>
  </div>
</div>

</body></html>