<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{web-site/layout}">

<head>

</head>

<body layout:fragment="content" class="cbp-spmenu-push">


  <div class="account-in">
    <div class="container">

      <div class=" account-top ms-3">
        <h3 class="text-center">Đăng ký</h3>
        <form th:action="@{/api/auth/signup}" method="post" th:object="${signUpRequest}">

          <div class="row">

            <div class="col-6">
              <span>Tài khoản</span>
              <input type="text" name="username" placeholder="UserName" required="">
            </div>
            <div class="col-6">
              <span>Họ và tên</span>
              <input type="text" name="name" placeholder="Họ và tên" required="">
            </div>
            <div class="col-6">
              <span class="pass">Email</span>
              <input type="email" placeholder="Email Address" name="email" required="">
            </div>
            <div class="col-6">
              <span class="pass">Số điện thoại</span>
              <input type="text" placeholder="phone" name="phone" required="">
            </div>

            <div class="col-6 ">
              <span class="pass">Sinh nhật</span>
              <input type="date" hidden name="birtday" id="birtday">
              <div  onchange="getbirtday()">
              <select style="width: 30%;" id="year" name="yyyy" onchange="change_year(this)"></select>
              <select style="width: 30%;margin-left: 23px;" id="month" name="mm" onchange="change_month(this)"></select>
              <select style="width: 30%;margin-left: 23px;" id="day" name="dd"></select>
            </div>
            </div>
            <div class="col-6">
              <span class="pass">Giới tính*</span>
              <div class="sign-up2">
                <label>
                  <input type="radio" name="Gender" value="0" required="">
                  Nam
                </label>
                <label style=" margin-left: 23px; ">
                  <input type="radio" name="Gender" value="1" required="">
                  Nữ
                </label>
              </div>
            </div>
            <div class="col-6">
              <span class="pass">Mật khẩu*</span>
              <input type="password" placeholder="Password" name="password" required="">
            </div>
            <div class="col-6">
              <span class="pass">Nhập lại mật khẩu*</span>
              <input type="password" placeholder="Confirm Password" required="">
            </div>
          </div>

          <div class="float-left">
            <input type="submit" value="Login" />
          </div>

          <div class="float-right ">
            <a href="/api/auth/site/login">Đăng nhập </a>

          </div>
        </form>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</body>

</html>