<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <style>

    </style>
</head>

<body th:fragment="banner">

    <div class="men_banner">
        <div class="container">
            <div class="header_top">
                <div class="header_top_left">
                    <div th:replace="web-site/pages/mini-cart :: mini-cart"></div>
                    <div class="clearfix"> </div>
                </div>
                <div class="header_top_right">
                    <div class="lang_list">

                    </div>
                    <ul class="header_user_info" style="display: contents;">
                        <a class="login" href="/api/user/profile/info" style="font-size: larger;">
                            <i class="user"> </i>
                            <li class="user_desc">TÀI KHOẢN
                                <ul>
                                    <div id="loginIsFalse">
                                        <li><a href="/api/auth/site/login">Đăng Nhập</a></li>
                                        <li><a href="/api/auth/site/register">Đăng ký</a></li>
                                        <li><a href="/api/user/forgot-password">Quên mật khẩu</a></li>
                                    </div>
                                    <div id="loginIsTrue">
                                        <li><a href="/api/user/profile/info">Hồ sơ</a></li>
                                        <li><a href="/api/user/orders">Đơn hàng</a></li>
                                        <li>
                                            <a style="color: #fff;" onclick="logout()">Đăng xuất</a>
                                            <!-- <form th:action="@{/api/auth/signout}" method="post">
                                                <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
                                            </form> -->
                                            
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </a>
                    </ul>
                    <!-- start search-->
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                                    name="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>
                    <!----search-scripts---->

                    <!----//search-scripts---->
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header_bottom megamenu" style="width: inherit;">
                <div class="logo">
                    <h1><a href="/api/site"><span class="m_1"></span>atches</a></h1>
                </div>
                <div class="menu ">
                    <div class="listcate">
                        <a href="/api/site/product">SẢN PHẨM</a>
                        <a href="/api/site/blog">TIN TỨC</a>
                        <a href="/api/site/mail/form">PHẢN HỒI</a>
                        <a href="">GIỚI THIỆU</a>
                        <a href="/api/site/brands">THƯƠNG HIỆU</a>
                    </div>

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</body>

</html>