
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap'); 

 .TDMlX1 .rating-stars ul {
  list-style-type:none;
  padding:0;
  display: flex;
  margin: 0;
}
.TDMlX1.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.icon-star {
  font-size:1.3em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
  margin-right: 7px;
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.icon-star {
  color:#FFCC36;
}

/* Selected state of the stars */
 .rating-stars ul > li.star.selected > i.icon-star {
  color:#FF912C;
}


.xMDeox .title{
  font-family: 'Roboto', sans-serif;
  display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    text-transform: uppercase;
    margin-top: 1em;
    padding: 10px 20px 2px 20px;
}
.xMDeox .title a{
  color: rgba(0,0,0,.54);
    font-size: 15px;
    text-decoration: none;
}
.xMDeox .title span, .xMDeox .title h5{
    font-size: 15px;
}
.xMDeox .title h5{
  color: #000;
}

.progress-containers i{
  font-size: 2rem;
}
 .progress-containers i.active{
  color: #37d999;
}
.progress-containers i.error{
  color: #fe0000;
  margin: auto;
}

 .progress-containers {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 3em 2em 5em 45px;
  max-width: 100%;
  width: 800px;
  
}

.progressdefaul {
  background-color: rgb(186 185 185);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  z-index: 0;
  transition: 0.4s ease;
}
 .progress-containers .progress-order{
  background-color: #37d999;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  height: 4px;
  z-index: 0;
  transition: 0.4s ease;
}

.progress-containers span{
  position: absolute;
    top: 6.4em;
    left: -30px;
    width: 200px;
}
.progress-containers  p{
  position: absolute;
  top: 4.8em;
  left: -5px;
  font-weight: 700;
  color: black;
  width: 200px;
}

.progress-containers .order{
  position: relative;
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 4px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  z-index: 1;
}

.order.actives{
  border-color: #37d999;
}
.order.error{
  border-color:  #fe0000;
}

._60q\+NM{
  border-bottom: 1px solid rgba(0,0,0,.09);
}

.Kz9HeM, .Kz9HeM:hover {
  border: 1px solid transparent;
}
.Kz9HeM {
  min-width: 150px;
  min-height: 40px;
  padding: 8px 20px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  border-radius: 2px;
  outline: 0;
}
._8vTqu9, .VN6h8\+ {
  margin: 0 0 0 10px;
  align-items: center;
  text-overflow: ellipsis;
}

.cLwmWY {
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  max-width: 400px;
  flex-grow: 1;
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0,0,0,.54);
}
._1ERzqw {
  padding: 12px 24px 24px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  background: #fffefb;
}
.TDMlX1 {
  color: #ee4d2d;
  font-size: 24px;
  line-height: 30px;
}
.Ge6yU5 {
  margin: 0 10px 0 0;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0,0,0,.8);
}
.KinvoL {
  padding: 12px 24px 12px;
  background: #fffefb;
}
.BAMNqz {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
._2FYYuf {
  cursor: pointer;
}
._4lEPJ1 {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0 5px 0 0;
  line-height: 0;
}
.n012K3 {
  left: 0;
  transform: translate(-50%,-50%);
}
.b-VPB8 {
  right: 0;
  transform: translate(50%,-50%);
}
.oDBmi- {
  box-sizing: border-box;
  background: #f5f5f5;
  width: .4375rem;
  height: .4375rem;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 0;
}
.CqYika {
  width: 100%;
  height: 0;
  border-bottom: 1px dotted rgba(0,0,0,.09);
  position: relative;
}
.igidiy {
  color: #ee4d2d;
}
.d12Axb {
  margin: 0 4px 0 0;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #000;
  opacity: .26;
  overflow: hidden;
  text-overflow: ellipsis;
}
.d12Axb, .ghw9hb, .xfl7Lb {
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0,0,0,.87);
}
.\+QRFJX {
  text-align: right;
}
._9ca9GU, .qGisqd {
  margin: 0 0 5px;
}
._9ca9GU {
  color: rgba(0,0,0,.54);
}
.cHrYq3, .WVc4Oc {
  vertical-align: middle;
}
.QJqUaT {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 22px;
  max-height: 48px;
}
.tODfT4 {
  min-width: 0;
  padding: 0 0 0 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
}
.shopee-image__content--blur {
  width: 100%;
  height: 100%;
}
.shopee-image__content {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
svg:not(:root) {
  overflow: hidden;
}
.shopee-image__place-holder .icon-loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  stroke: #c6c6c6;
}
.shopee-image__place-holder {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fafafa;
}
.shopee-image__wrapper {
  position: relative;
}
.shopee-image__content, .shopee-image__wrapper {
  width: 100%;
  height: 100%;
}
.tODfT4 {
  min-width: 0;
  padding: 0 0 0 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
}
._50XPwl {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border: 1px solid #e1e1e1;
  background: #e1e1e1;
}
.\+QRFJX {
  text-align: right;
}
.hDGdsD {
  padding: 0 12px 0 0;
  flex: 1;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.hDGdsD, .QkIuzE {
  display: flex;
  word-wrap: break-word;
}
.QkIuzE {
  padding: 12px 0 0;
  align-items: center;
  flex-wrap: nowrap;
  color: rgba(0,0,0,.87);
}
.hDGdsD, .QkIuzE {
  display: flex;
  word-wrap: break-word;
}
.vdofqJ:last-child ._472J0A {
  display: none;
}
._472J0A {
  height: 10px;
  border-bottom: 1px solid rgba(0,0,0,.09);
}
.giUtSy:first-child {
  margin: 0;
  border: 0;
}

._1ox39j {
  padding: 0 0 12px;
  justify-content: space-between;
}
._1ox39j, .Vqonym {
  display: flex;
  align-items: center;
}
._6nAGBW {
  padding: 12px 24px;
  background: #fff;
}
._6nAGBW:first-child {
  padding-top: 24px;
}
.tF2pJg {
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 22%);            
  margin: 12px 0;
  border-radius: .125rem;
}
.ApAubL{
  border-bottom: 1px solid rgba(0,0,0,.09);
    background: #fff;
    display: flex;
}
._4DcXuJ, .aQxJVJ, .beZuCH, .m3QHyX {
  display: flex;
}
.WTM1cN:hover{
color: #ffffff;
background: #f9d9be;
}

.wORiuh {
  border: 0;
  background: none;
  outline: none;
  padding: 4px;
  color: #08f !important;
}
.oqr-HB, .xk89A1 {
  color: rgba(0,0,0,.54);
}
._5txhTu {
  padding-top: 4px;
}
.WTM1cN {
  font-size: .875rem;
  line-height: 1.25rem;
  padding: 4px 12px;
  height: 28px;
  min-width: 0;
  outline: none;
  color: rgba(0,0,0,.87);
  border: 1px solid rgba(0,0,0,.26);
  box-shadow: 0 1px 1px rgb(0 0 0 / 3%);
}
.amiqmV:disabled {
  opacity: .7;
  cursor: not-allowed;
}
.D\+-Kud {
  color: #ee4d2d;
  border-color: #ee4d2d;
}
._8-tEK7 {
  border-radius: 1px;
  padding: 2px 4px;
  border: .5px solid;
}
.nFbAe4 {
  margin-right: 8px;
}
.xk89A1 {
  font-size: .875rem;
  line-height: 1.25rem;
}
.FSlv-V{
  margin-bottom: 4px;
}
._30MS7O {
  color: rgba(0,0,0,.87);
  font-size: 1rem;
  line-height: 1.5rem;
}
._2bzRo\+ {
  color: rgba(0,0,0,.54);
  border-left: .5px solid rgba(0,0,0,.26);
    padding-left: 10px;
}
._2bzRo\+, .bb8RfB {
  font-size: .875rem;
  line-height: 1.25rem;
}
.VKNC5l {
  font-weight: 500;
  min-width: 0;
  display: inline-flex;
  padding-right: 10px;
}
.VzJhMY {
  border-bottom: 1px solid #efefef;
  padding: 22px 30px;
  height: 80px;
  box-sizing: border-box;
}
._4DcXuJ, .VKNC5l {
  align-items: center;
}
.FSlv-V {
  margin-bottom: 4px;
}
.beZuCH {
  flex-grow: 1;
  overflow-x: hidden;
}
.m3QHyX{
  justify-content: space-between;
  display: flex;
}
.nn3Z{
  padding: 18px 0 20px;
}
._221a6W{
  min-width: 0;
  width: 100%;
}

#imageName{
  position: absolute;
  bottom: -50px;
  right: 70px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
}
.avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f5f5f5;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  
}
.avatar-preview img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-edit input {
  display: none;
}
.avatar-edit label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}
.avatar-edit label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-edit label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}





.btn-change-info{
  width: 60px;
    margin-left: 13px;
    color: blue !important;
    text-decoration: none !important;
}

.pIHdXn {
  display: flex;
  padding: 1.25rem 0 3.125rem;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
.kul4\+s {
  display: block;
  width: 180px;
  flex-shrink: 0;
}
.AmWkJQ {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #efefef;
}
._1O4r\+C,
.shopee-avatar {
  width: 50px;
  height: 50px;
}
.shopee-avatar {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  border-radius: 50%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
}
.shopee-avatar__placeholder {
  width: 100%;
  position: relative;
  padding-top: 100%;
  background-color: #f5f5f5;
  border-radius: 50%;
  overflow: hidden;
}
.shopee-avatar__placeholder .icon-headshot {
  stroke: #c6c6c6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg:not(:root) {
  overflow: hidden;
}
/* :not(svg) {
  transform-origin: 0px 0px;
} */
.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

.shopee-avatar__img {
  border-radius: 50%;
}

.shopee-avatar__img,
.shopee-avatar__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.miwGmI {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  overflow: hidden;
}
.mC1Llc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}
._78QHr1 {
  color: #888;
  text-transform: capitalize;
  text-decoration: none;
}
a {
  text-decoration: none;
}

a {
  background-color: transparent;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.rhmIbk {
  list-style: none;
  padding: 0;
  margin: 27px 0 0;
  cursor: pointer;
}
.stardust-dropdown {
  position: relative;
  margin-top: inherit;
}
.\+1u02e {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
}
.\+1u02e,
.qyt-aY {
  text-transform: capitalize;
  transition: color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.bfikuD {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  flex-shrink: 0;
  margin-right: 0.625rem;
}
.bfikuD > img {
  width: 100%;
  height: 100%;
}
.DlL0zX {
  line-height: 1rem;
}

.adF7Xs {
  font-weight: 500;
  margin-right: 0.3125rem;
}
.stardust-dropdown__item-body--open {
  height: auto;
  opacity: 1;
}

.stardust-dropdown__item-body {
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.Yu7gVR {
  display: block;
  padding: 8px 0 0.1875rem 2.125rem;
}
.qyt-aY:hover,
.tH0d6d {
  color: #ee4d2d;
}
.FEE-3D {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  margin-bottom: 0.9375rem;
  color: rgba(0, 0, 0, 0.65);
}
.qyt-aY {
  font-size: 0.875rem;
  display: block;
}

.xMDeox {
  position: relative;
  flex-grow: 1;
  width: 980px;
  box-sizing: border-box;
  margin-left: 1.6875rem;
  min-width: 0;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
  border-radius: 0.125rem;
}
.Hvae38 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}
.TApBFI {
  padding: 0 1.875rem 0.625rem;
}
.Q5feZb {
  border-bottom: 0.0625rem solid #efefef;
  padding: 1.125rem 0;
}
.OomjNA {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: #333;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.HJ5nmd {
  margin-top: 0.1875rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #555;
}
.\+eqaLN {
  padding-top: 1.875rem;
}
.\+eqaLN {
  flex-direction: row;
}
.\+eqaLN,
._6-dPdd {
  display: flex;
}
.\+eqaLN {
  align-items: flex-start;
}
.InGfFt {
  flex: 1;
  padding-right: 3.125rem;
}
.h4eiAQ {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.tBgRZR {
  width: 20%;
  text-align: right;
  color: rgba(85, 85, 85, 0.8);
  overflow: hidden;
}
.gV\+dPk {
  width: 80%;
  box-sizing: border-box;
  padding-left: 20px;
}

.gV\+dPk  select{
  width: 6em;
  text-align: end;
  color: rgba(85, 85, 85, 0.8);
  /* overflow: hidden; */
  font-size: 17px;
}
._2NnHla {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}
.Z1Wx1m {
  font-size: 1rem;
  color: #333;
}
.\+x-MFb {
  border: 0;
  outline: none;
  background: none;
  color: #05a;
  font-size: 0.8125rem;
  text-transform: capitalize;
  text-decoration: underline;
}
.dghdd9 {
  width: 602px;
  margin-bottom: 30px;
}
.ovqcxY {
  align-items: center;
  display: flex;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
}
.y-NK4C {
  background: none;
  padding: 12px;
  outline: none;
  border: 0;
  flex: 1;
  flex-shrink: 0;
  filter: none;
}
.vidoEC .stardust-radio-group {
  display: flex;
}
.vidoEC .stardust-radio {
  padding: 0;
  margin-right: 0.75rem;
}

.stardust-radio {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  cursor: pointer;
  padding: 16px 12px;
}
.stardust-radio-button {
  margin-right: 8px;
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
}
.stardust-radio-button--checked .stardust-radio-button__outer-circle {
  border-color: #ee4d2d;
}
.stardust-radio-button__outer-circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.stardust-radio__content {
  cursor: pointer;
}
.stardust-radio-button__outer-circle > .stardust-radio-button__inner-circle {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #ee4d2d;
  opacity: 0;
}
.stardust-radio-button--checked
  > .stardust-radio-button__outer-circle
  > .stardust-radio-button__inner-circle {
  opacity: 1;
}
.MWGELC .shopee-dropdown {
  width: 32%;
  display: flex;
}
.shopee-dropdown {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.MWGELC .shopee-dropdown__entry {
  width: 100%;
  box-sizing: border-box;
}

.shopee-dropdown--has-selected .shopee-dropdown__entry--selected {
  color: rgba(0, 0, 0, 0.8);
}
.shopee-dropdown__entry--selected {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  height: 2.5rem;
  background: #fff;
  color: #bbb;
}
.shopee-dropdown__entry {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 0.9375rem;
}
.shopee-dropdown__entry .shopee-svg-icon {
  margin-left: 0.3125rem;
  font-size: 0.75rem;
}

.MWGELC {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.shopee-dropdown .shopee-popover {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 2px;
  background: #fff;
  max-height: 8.375rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.3125rem 0;
}

.shopee-popover--default {
  max-height: 8.375rem;
  padding: 0.3125rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.shopee-popover--default,
.shopee-popover--dropdown {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 2px;
  background: #fff;
}
.shopee-dropdown__options {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  /* display: grid; */
  list-style-type: none;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.shopee-dropdown__entry--optional {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.X9w211 {
  margin-bottom: 3.75rem;
  padding-left: calc(20% + 1.25rem);
}
.btn-solid-primary {
  color: #fff;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
}

.btn--m {
  height: 40px;
  padding: 0 20px;
  min-width: 70px;
  max-width: 220px;
}

.btn-solid-primary {
  color: #fff;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
}

.btn-solid-primary {
  color: #fff;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
}

.btn-solid-primary {
  color: #fff;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
}

.btn--inline {
  display: inline-flex;
}

.btn-solid-primary {
  color: #fff;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
}

._6-dPdd {
  width: 17.5rem;
  overflow: hidden;
  border-left: 0.0625rem solid #efefef;
}
._6-dPdd {
  justify-content: center;
}

.\+eqaLN,
._6-dPdd {
  display: flex;
}
.DyzGC5 {
  flex-direction: column;
}
.DyzGC5,
.miizbf {
  align-items: center;
  display: flex;
}
.miizbf {
  height: 6.25rem;
  width: 6.25rem;
  margin: 1.25rem 0;
  position: relative;
}

.miizbf {
  justify-content: center;
}
.c-WmUJ,
.qpNcUn {
  border-radius: 50%;
}
.qpNcUn {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
._8LDVUy {
  display: none;
}
.btn-light {
  outline: 0;
  background: #fff;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
  position: relative;
  overflow: visible;
}
.dWItVn {
  margin-top: 0.75rem;
  display: block;
}
.ayiXAf {
  color: #999;
  font-size: 0.875rem;
  line-height: 1.25rem;
}