.progress-containers i{
  font-size: 2rem;
}
 .progress-containers i.active{
  color: #37d999;
}
.progress-containers i.error{
  color: #fe0000;
}

 .progress-containers {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5em;
  max-width: 100%;
  width: 900px;
  margin-left: 34px;
}

.progressdefaul {
  background-color: rgb(186 185 185);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  z-index: 0;
  transition: 0.4s ease;
}
 .progress-containers .progress-order{
  background-color: #37d999;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  height: 4px;
  z-index: 0;
  transition: 0.4s ease;
}

.progress-containers span{
  position: absolute;
    top: 6.4em;
    left: -40px;
    width: 200px;
}
.progress-containers  p{
  position: absolute;
  top: 4.8em;
  left: -5px;
  font-weight: 700;
  color: black;
  width: 200px;
}

.progress-containers .order{
  position: relative;
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 4px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  z-index: 1;
}

.order.actives{
  border-color: #37d999;
}
.order.error{
  border-color:  #fe0000;
}