<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{web-admin/layout}">

<head>

</head>

<body class="cbp-spmenu-push" layout:fragment="content">
    <div class="main-content">

        <div id="page-wrapper">
            <div class="main-page">
                <div class="col_3">
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong th:text="${countOrders30}"></strong></h5>
                                <span>Đơn hàng tháng</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-heart-o user1 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong th:text="${countWishList}"></strong></h5>
                                <span>Lượt thích sản phẩm</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-money user2 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong th:text="${'$'+countOrdersDetail30}"></strong></h5>
                                <span>Doanh thu tháng</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-pie-chart dollar1 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong th:text="${sumStockProduct}"></strong></h5>
                                <span>Hàng tồn</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong th:text="${countUsers}"></strong></h5>
                                <span>Đăng ký tài khoản</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="row-one widgettable">
                    <div class="col-md-9 content-top-2 card">
                        <div class="agileinfo-cdr">
                            
                            <!-- <canvas id="chartContainer" style="height: 370px; width: 100%;"></canvas> -->
                            <div id="chartContainer" style="height: 300px; width: 100%;">
                            </div>
                            <div class="card-footer title-chart">
                                <h3 class="text-aline-center">Lượt mua trong năm qua</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 stat">
                        <div class="content-top-1">
                            <div class="col-md-12 top-content">
                                <h5>Đơn hàng</h5>
                                <label th:text="${'+'+countOrders}"></label>
                            </div>
                           
                            <div class="clearfix"> </div>
                        </div>
                        <div class="content-top-1 ">
                            <div class="col-md-12 top-content ">
                                <h5>Đánh giá trung bình </h5>
                                <input hidden type="text" id="avg-raiting" th:value="${avgRaitting}" />
                                <div class="avgraiting" style="font-size: larger;">
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                </div>
                            </div>
                          
                           
                            <div class="clearfix"> </div>
                        </div>
                        <div class="content-top-1">
                            <div class="col-md-12 top-content">
                                <h5>Truy cập</h5>
                                <label th:text="${'+'+countUsers}"></label>
                            </div>
                          
                            <div class="clearfix"> </div>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>









            </div>
        </div>
        <!--footer-->

        <!--//footer-->
    </div>

   
	
</body>

</html>