<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web-admin/layout}">

<head> </head>

<body class="cbp-spmenu-push">
	<div layout:fragment="content"> 
		<div id="page-wrapper">
			<h2>Danh Sách Người Dùng</h2>
			<div class="row">
				<ol class="breadcrumb">
					<li><a th:href="@{/api/admin}">Trang Chủ</a></li>
                    <li><a th:href="@{/api/admin/user/}">Danh Sách</a></li>
                    <li><a th:href="@{/api/auth/site/register}">Thêm Mới</a></li>
				</ol>
			</div>

			<div class="main-page">
				<div class="tables">
					<div class="bs-example widget-shadow" data-example-id="hoverable-table">

						<table class="table table-hover">
							<thead>
								<tr>
									<th>Ảnh</th>
									<th>Tên Đăng Nhập</th>
									<th>Email</th>
									<th>Giới Tính</th>
									
									<th>SĐT</th>
									<th>Hoạt Động</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each=" item : ${users}">
									<td><img th:src="${item.avatar != null ?'/api/images/'+item.avatar : '/api/images/user.jpg'}" style="width: 100px; height: 70px;"></td>
									<td th:text="${item.username}">1</td>
									<td th:text="${item.email}">1</td>
									<td>
									<span th:class="${item.gender==0?'label label-danger':'label  label-success'}"
											th:text="${item.gender==0?'nam':'nữ'}">
									</span>
									</td>
								
									<td th:text="${item.phone}">1</td>
									<td>
									<a th:data-id="${item.id}" th:data-name="${item.username}"
										onclick="DeleteSwal(this.getAttribute('data-id'),'user')"	 
										class="fa fa-trash-o"> </a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>


</body>