<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
    
    <div th:fragment="siderbar">        
 <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
           
            <aside class="sidebar-left">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="/api/admin"><span class="fa fa-area-chart"></span> WATCH<span
                                    class="dashboard_text">SHOP</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="sidebar-menu">
                            <li class="header">ĐIỀU HƯỚNG CHÍNH</li>
                            <!-- <li class="treeview"> 
                                <a href="/api/admin/statistical">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li> -->
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-product-hunt"></i>
                                    <span>Sản Phẩm</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/product/list-product}"><i class="fa fa-angle-right"></i> Danh sách </a></li>
                                    <li><a th:href="@{/api/admin/product/add-product}"><i class="fa fa-angle-right"></i> Thêm mới</a></li>
                                </ul>
                            </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-th-large"></i>
                                    <span>Danh Mục</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/categories/}"><i class="fa fa-angle-right"></i>  Danh sách</a></li>
                                    <li><a th:href="@{/api/admin/categories/add-category}"><i class="fa fa-angle-right"></i>Thêm mới</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                               <a href="#">
                                   <i class="fa fa-drupal"></i>
                                   <span>Đơn Hàng</span>
                                   <i class="fa fa-angle-left pull-right"></i>
                               </a>
                               <ul class="treeview-menu">
                                   <li><a th:href="@{/api/admin/order}"><i class="fa fa-angle-right"></i> Quản lý đơn hàng</a></li>
                               </ul>
                           </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-drupal"></i>
                                    <span>Thương Hiệu</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/brands/}"><i class="fa fa-angle-right"></i> Danh sách</a></li>
                                    <li><a th:href="@{/api/admin/brands/add-brand}"><i class="fa fa-angle-right"></i> Thêm mới</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-group"></i>
                                    <span>Nhân viên</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                   <li><a th:href="@{/api/admin/staffs/}"><i class="fa fa-angle-right"></i> Danh sách</a></li>
                                    <li><a th:href="@{/api/admin/staffs/add-staff}"><i class="fa fa-angle-right"></i>  Thêm mới</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span>Người Dùng</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/customers/}"><i class="fa fa-angle-right"></i> Danh sách</a></li>
                                    <li><a th:href="@{/api/admin/customers/add-customer}"><i class="fa fa-angle-right"></i>  Thêm mới</a></li>
                                </ul>
                            </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-spinner"></i>
                                    <span>Đánh Giá</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/raiting/list-waiting}"><i class="fa fa-angle-right"></i> Danh sách</a></li>
                                    <li><a th:href="@{/api/admin/raiting/list-check}"><i class="fa fa-angle-right"></i> Xác nhận</a></li>
                                </ul>
                            </li>
                                                        </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-google-wallet"></i>
                                    <span>Tin tức</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/blog/list-blog}"><i class="fa fa-angle-right"></i> Danh sách</a></li>
                                    <li><a th:href="@{/api/admin/blog/add-blog}"><i class="fa fa-angle-right"></i> Thêm mới</a></li>
                                </ul>
                            </li>
                                                        </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-comments-o"></i>
                                    <span>Nhắn tin</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/chatbox}"><i class="fa fa-angle-right"></i>Nhắn với khách hàng</a></li>
                                </ul>
                            </li>
                                                        </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-gift"></i>
                                    <span>Mã giảm Giá</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/DiscountCode/list-code}"><i class="fa fa-angle-right"></i> Danh sách</a></li>
                                    <li><a th:href="@{/api/admin/DiscountCode/}"><i class="fa fa-angle-right"></i> Thêm mới</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-envelope"></i> <span>Phản Hồi</span></a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/contacs/}"><i class="fa fa-bell-o"></i> Quản lý phản hồi</a></li>
                                    <!-- <li><a th:href="@{/api/admin/mail/form}"><i class="fa fa-angle-right"></i> Compose Mail </a></li> -->
                                </ul>
                            </li>
                            <!-- <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-folder"></i> <span>Examples</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/auth/login}"><i class="fa fa-angle-right"></i> Login</a></li>
                                    <li><a href="signup.html"><i class="fa fa-angle-right"></i> Register</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                   
                </nav>
            </aside>
        </div> 
  
</div>

</body>
</html>
